<div class="menu-title">
    <button id="btnBurger">
        <i class="ri-menu-fill"></i>
    </button>
    <%- include('./settings.ejs') %>
    <button id="btnSettings">
        <i class="ri-settings-3-line"></i>
    </button>
    
    <div id="title">
        <p></p>
    </div>
    <button>
        <i class="ri-search-eye-line"></i>
    </button>
    <button id="btnPrint">
        <i class="ri-printer-line"></i>
    </button>
</div>

